#chats {
  /*margin-left: 25%;
  margin-top: 150px;*/
  display: inline-block;
  width: 1000;
  height: 350px;
}

.pub-chat {
  background-color: white;
  overflow-y: scroll;
  position: absolute;
  border: 1px solid #DDD;
  height: 350px;
  width: 500px;
}

.message-list {
  overflow-y: scroll;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  bottom: 45px;
  width: 100%;
  height: 305px;
}

.message-list li {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 40px;
  width: 100%;
}

.message-content {
  padding-left: 10px;
  width: 100%;
}

.message-header {
  color: black;
  font-weight: 900;
  margin-top: 10px;
}

.display-name {
  display: inline;
}

.delete-message {
  background:none;
  border:none;
  float: right;
  padding-right: 10px;
  outline: none;
}

.message-body {
  color: #3D3C40;
  margin-top: 10px;
  margin-right: 10px;
}

.user-image {
  max-height: 200px;
  width: auto;
}

.add-content-wrapper {
  position: absolute;
  margin-bottom: 0px;
  height: 45px;
  width: 100%;
}

.add-content {
  width: 100%;
  height: 45px;
}

.display-name-input {
  bottom: 0px;
  position: relative;
  float: left;
  bottom: 1px;
  height: 45px;
  margin-left: -1px;
  width: 30%;
}

.display-name-input::-webkit-input-placeholder { /* WebKit browsers */
  padding-left: 1px;
}
.display-name-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  margin-left: 1px;
}
.display-name-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  margin-left: 1px;
}
.display-name-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  margin-left: 1px;
}

.add-msg {
  bottom: 0px;
  position: relative;
  float: right;
  bottom: 1px;
  height: 45px;
  margin-right: -1px;
  width: 70%;
}

.add-msg::-webkit-input-placeholder { /* WebKit browsers */
  padding-left: 10px;
}
.add-msg:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  margin-left: 10px;
}
.add-msg::-moz-placeholder { /* Mozilla Firefox 19+ */
  margin-left: 10px;
}
.add-msg:-ms-input-placeholder { /* Internet Explorer 10+ */
  margin-left: 10px;
}

.submit-content {
  position: absolute;
  visibility: hidden;
}
