#chats {
  display: inline-block;
  width: 74%;
  height: 100%;
}

.pub-chat {
  background-color: white;
  overflow-y: scroll;
  position: relative;
  border: 1px solid #DDD;
  height: 100%;
  width: 100%;
}

.chat-header {
  height: 10%;
}

.chat-name {
  margin-top: 10px;
  height: 20px;
  font-size: 2.5rem;
  /*line-height: 53px;*/
  display: inline-block;
  /*padding: 0 .5rem 0 1.5rem;*/
  /*cursor: pointer;*/
  color: #555459;
  font-weight: 900;
  margin-left: 20px;
}

.message-list {
  overflow-y: scroll;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  bottom: 45px;
  width: 100%;
  height: 82%;
}

.message-list li {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 40px;
  width: 100%;
}

.message-content {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.message-header {
  color: black;
  font-weight: 900;
  margin-top: 10px;
  width: 100%;
}

.display-name {
  display: inline;
}

.timestamp {
  color: #babbbf;
  font-size: 12px;
  margin-left: 5px;
}

.delete-message {
  background:none;
  border:none;
  float: right;
  padding-right: 10px;
  outline: none;
}

.message-body {
  color: #3D3C40;
  width: 100%;
  word-wrap: break-word;
  margin-top: 10px;
  margin-right: 10px;
}

.user-image {
  max-height: 200px;
  width: auto;
}

.add-content-wrapper {
  height: 7%;
  width: 100%;
}

.add-content {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.display-name-input {
  bottom: 0px;
  position: relative;
  float: left;
  bottom: 1px;
  height: 100%;
  margin-left: 1px;
  width: 29%;
}


.add-msg {
  bottom: 0px;
  position: relative;
  float: right;
  bottom: 1px;
  height: 100%;
  margin-right: 1px;
  width: 69%;
}

.submit-content {
  position: absolute;
  visibility: hidden;
}
