#rooms {
  background-color: white;
  margin-right: 5px;
  /*border: 1px solid #DDD;*/
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}

.rooms-list-wrapper {
  position: relative;
  height: 100%;
}

.rooms-panel {
  height: 100%;
}

.panel-heading {
  background-color: #00558b !important;
  color: white !important;
}

.panel-heading h4 {
  text-align: center;
}

ul.rooms-list {
  position: relative;
  list-style-type: none;
  height: 80%;
  padding-left: 0px;
}

.list-group-item {
}

.add-room {
  position: absolute;
  bottom: 0px;
  padding-right: 1px;
}
