#rooms {
  background-color: white;
  margin-right: 5px;
  border: 1px solid #DDD;
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}

.rooms-list-wrapper {
  position: relative;
  height: 100%;
}

ul.rooms-list {
  position: relative;
  list-style-type: none;
  height: 80%;
  padding-left: 0px;
}

.add-room {
  position: absolute;
  bottom: 0px;
}
