<div class="message-header">
  <p class="display-name"><%= message.escape('displayName') %></p>
  <span class="timestamp"><%= message.escape('time') %></span>
  <button class="delete-message">X</button>
</div>
<div class="message-body"><%= message.get('content') %></div>
