<div class="chat-header">
  <span class="chat-name">#<%= name %></span>
</div>

<ul class="message-list">
</ul>

<div class="add-content-wrapper">
  <form class="add-content">
    <input class="form-control display-name-input" placeholder="Username" value="<%= displayName %>"/>
    </input>
    <input class="form-control add-msg" placeholder="Message">
    </input>
    <input class="submit-content" type="submit">
  </form>
</div>
