<div class="chat-header">
  <span class="chat-name">#<%= name %></span>
</div>

<ul class="message-list">
</ul>

<div class="add-content-wrapper">
  <form class="add-content">
    <input class="form-control display-name-input" placeholder="Username"/>
    </input>
    <input class="form-control add-msg" placeholder="Message">
    </input>
    <input class="submit-content" type="submit">
  </form>
  <!-- <div class="input-group add-room">
    <span class="input-group-addon" id="basic-addon1">New Message</span>
    <form class="add-content">
      <input class="form-control display-name-input" placeholder="Display Name "/>
      </input>
      <input type="text" class="form-control add-room-input" placeholder="" aria-describedby="basic-addon1">
    </form>
  </div> -->

</div>
