<ul class="message-list">
</ul>

<div class="add-content-wrapper">
  <form class="add-content">
    <input class="display-name-input" placeholder="Display Name "/>
    </input>
    <input class="add-msg" placeholder="Message">
    </input>
    <input class="submit-content" type="submit">
  </form>
</div>
