<div class="panel panel-default rooms-panel">
  <div class="panel-heading">
    <h4>Rooms</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group rooms-list">
    </ul>
  </div>
</div>

<form class="add-room">
  <input class="add-room-input" placeholder="Create a Room "/></input>
</form>
