<div class="panel panel-default rooms-panel">
  <div class="panel-heading">
    <h4>Rooms</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group rooms-list">
    </ul>
  </div>
  <div class="input-group add-room">
    <span class="input-group-addon" id="basic-addon1">#</span>
    <form>
      <input type="text" class="form-control add-room-input" placeholder="New Room" aria-describedby="basic-addon1">
    </form>
  </div>
</div>
